<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi</title>
    <link rel="stylesheet" href="{% static 'assets/compiled/css/app.css' %}" />
    <link
        rel="stylesheet"
        href="{% static 'assets/compiled/css/app-dark.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'assets/compiled/css/iconly.css' %}"
    />
</head>
<body>
    <script src="{% static 'assets/static/js/initTheme.js' %}"></script>
    <div id="app">
        <div id="sidebar">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header position-relative">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="logo">
                            <a href="">
                                <img
                                    src="{% static 'assets/compiled/svg/logo.svg' %}"
                                    alt="Logo"
                                />
                            </a>
                        </div> -->
                        <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                role="img"
                                class="iconify iconify--system-uicons"
                                width="20"
                                height="20"
                                preserveAspectRatio="xMidYMid meet"
                                viewBox="0 0 21 21"
                            >
                                <!-- SVG Content -->
                            </svg>
                            <div class="form-check form-switch fs-6">
                                <input
                                    class="form-check-input me-0"
                                    type="checkbox"
                                    id="toggle-dark"
                                    style="cursor: pointer"
                                />
                                <label class="form-check-label"></label>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                role="img"
                                class="iconify iconify--mdi"
                                width="20"
                                height="20"
                                preserveAspectRatio="xMidYMid meet"
                                viewBox="0 0 24 24"
                            >
                                <!-- SVG Content -->
                            </svg>
                        </div>
                        <div class="sidebar-toggler x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"
                               ><i class="bi bi-x bi-middle"></i
                            ></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item">
                            <a href="{% url 'laporan' %}" class="sidebar-link">
                                <i class="bi bi-envelope-fill"></i>
                                <span>Laporan Harian</span>
                            </a>
                        </li>
                        <li class="sidebar-item active">
                            <a href="{% url 'dashboard' %}" class="sidebar-link">
                                <i class="bi bi-grid-fill"></i>
                                <span>Prediksi</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'profile' %}" class="sidebar-link">
                                <i class="bi bi-person-circle"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link sidebar-link">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                {% block page_content %}
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Prediksi</h3>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Prediksi</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

                <section class="section">
                    <!-- Dropdown at the top -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="col-12">
                                <form method="post" action="{% url 'dashboard' %}">
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        <label for="month">Pilih Bulan yang Akan Diprediksi</label>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <select id="month" class="form-control" name="month">
                                            {% for month_num, month_name in month_choices %}
                                                <option value="{{ month_num }}">{{ month_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Masukkan</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Table and Chart layout -->
                    <div class="row">
                        <!-- Table on the left -->
                        <div class="col-12 col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Tabel Prediksi Pendapatan dan Modal</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">No</th>
                                                <th scope="col">Tanggal</th>
                                                <th scope="col">Pendapatan</th>
                                                <th scope="col">Modal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for forecast in forecast_data %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ forecast.date|date:"M d, Y" }}</td>
                                                <td>Rp. <span class="format-number">{{ forecast.pendapatan|floatformat:0 }}</span></td>
                                                <td>Rp. <span class="format-number">{{ forecast.modal|floatformat:0 }}</span></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>                                                                                                       
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Chart on the right
                        <div class="col-12 col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Line Chart</h4>
                                </div>
                                <div class="card-body">
                                    <div id="lineChart"></div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </section>

                {% endblock %}
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; Hira Nur Afifah</p>
                    </div>
                    <div class="float-end">
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/static/js/components/dark.js' %}"></script>
    <script src="{% static 'assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/compiled/js/app.js' %}"></script>
    <script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var options = {
                chart: {
                    type: 'line'
                },
                series: [{
                    name: 'Pendapatan',
                    data: [ {% for forecast in forecast_data %} {{ forecast.pendapatan }}, {% endfor %} ]
                }, {
                    name: 'Modal',
                    data: [ {% for forecast in forecast_data %} {{ forecast.modal }}, {% endfor %} ]
                }],
                xaxis: {
                    categories: [ {% for forecast in forecast_data %} "{{ forecast.date|date:"M d, Y" }}", {% endfor %} ]
                }
            }

            var chart = new ApexCharts(document.querySelector("#lineChart"), options);

            chart.render();
        });

        document.addEventListener('DOMContentLoaded', (event) => {
        const elements = document.querySelectorAll('.format-number');
        elements.forEach((element) => {
            const number = parseInt(element.textContent, 10);
            if (!isNaN(number)) {
                element.textContent = number.toLocaleString('id-ID');
            }
        });
    });
    </script>
</body>
</html>
