<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi</title>
    <link rel="stylesheet" href="{% static 'assets/compiled/css/app.css' %}" />
    <link
        rel="stylesheet"
        href="{% static 'assets/compiled/css/app-dark.css' %}"
    />
    <link
        rel="stylesheet"
        href="{% static 'assets/compiled/css/iconly.css' %}"
    />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 5000px;
            margin: 0 auto;
            background-color: white;
            padding: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            margin-bottom: px;
        }
        .header img {
            width: 150px;
            height: auto;
            margin-bottom: 20px; /* Add margin to create space */
        }
        .title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .supervisors {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .supervisor {
            text-align: center;
        }
        .supervisor p {
            margin: 5px 0;
        }
        .footer {
            text-align: center;
            
        }
    </style>
    
</head>
<body>
    <script src="{% static 'assets/static/js/initTheme.js' %}"></script>
    <div id="app">
        <div id="sidebar">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header position-relative">
                    <div class="d-flex justify-content-between align-items-center">

                        <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                role="img"
                                class="iconify iconify--system-uicons"
                                width="20"
                                height="20"
                                preserveAspectRatio="xMidYMid meet"
                                viewBox="0 0 21 21"
                            >
                                <!-- SVG Content -->
                            </svg>
                            <div class="form-check form-switch fs-6">
                                <input
                                    class="form-check-input me-0"
                                    type="checkbox"
                                    id="toggle-dark"
                                    style="cursor: pointer"
                                />
                                <label class="form-check-label"></label>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                role="img"
                                class="iconify iconify--mdi"
                                width="20"
                                height="20"
                                preserveAspectRatio="xMidYMid meet"
                                viewBox="0 0 24 24"
                            >
                                <!-- SVG Content -->
                            </svg>
                        </div>
                        <div class="sidebar-toggler x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"
                               ><i class="bi bi-x bi-middle"></i
                            ></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item active">
                            <a href="{% url 'dashboard_nama' %}" class="sidebar-link">
                                <i class="bi bi-envelope-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'laporan' %}" class="sidebar-link">
                                <i class="bi bi-envelope-fill"></i>
                                <span>Laporan Harian</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a href="{% url 'dashboard' %}" class="sidebar-link">
                                <i class="bi bi-bar-chart-line"></i>
                                <span>Prediksi</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'profile' %}" class="sidebar-link">
                                <i class="bi bi-person-circle"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link sidebar-link">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main">
            <div class="container"  style="height: 100vh;">
                <div class="header">
                    <img src="{% static 'gambar/unjani.png' %}" alt="Logo">
                    <br>
                </div>
                <div class="title">
                    PREDIKSI PENDAPATAN PADA MITRA TOKO PARFUME <em>TRENDS</em> MENGGUNAKAN METODE <em>VECTOR AUTOREGRESSIVE INTEGRETED MOVING AVERAGE</em> (VARIMA)
                </div>
                <div class="supervisors">
                    <div class="supervisor">
                        <p>PEMBIMBING 1</p>
                        <p>Wina Witanti, S.T.,M.T.</p>
                        <p>NID. 412176273
                        </p>
                    </div>
                    <div class="supervisor">
                        <p>PEMBIMBING 2</p>
                        <p>Fatan Kasyidi, S.kom.,S.T.
                        </p>
                        <p>NID. 412100992</p>
                    </div>
                </div>
                <div class="footer">
                    <p>Oleh :</p>
                    <p>Hira Nur Afifah</p>
                    <p>NIM: 3411201036
                    </p>
                </div>
            </div>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; Hira Nur Afifah</p>
                    </div>
                    <div class="float-end">
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/static/js/components/dark.js' %}"></script>
    <script src="{% static 'assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/compiled/js/app.js' %}"></script>
    <script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var optionsPendapatan = {
                chart: {
                    type: 'line'
                },
                series: [{
                    name: 'Pendapatan',
                    data: [ {% for forecast in forecast_data %} {{ forecast.pendapatan }}, {% endfor %} ]
                }],
                xaxis: {
                    categories: [ {% for forecast in forecast_data %} "{{ forecast.date|date:"M d, Y" }}", {% endfor %} ]
                }
            };

            var chartPendapatan = new ApexCharts(document.querySelector("#lineChartPendapatan"), optionsPendapatan);
            chartPendapatan.render();

            var optionsModal = {
                chart: {
                    type: 'line'
                },
                series: [{
                    name: 'Modal',
                    data: [ {% for forecast in forecast_data %} {{ forecast.modal }}, {% endfor %} ]
                }],
                xaxis: {
                    categories: [ {% for forecast in forecast_data %} "{{ forecast.date|date:"M d, Y" }}", {% endfor %} ]
                }
            };

            var chartModal = new ApexCharts(document.querySelector("#lineChartModal"), optionsModal);
            chartModal.render();
        });

        document.addEventListener('DOMContentLoaded', (event) => {
        const elements = document.querySelectorAll('.format-number');
        elements.forEach((element) => {
            const number = parseInt(element.textContent, 10);
            if (!isNaN(number)) {
                element.textContent = number.toLocaleString('id-ID');
            }
        });
    });
    </script>
</body>
</html>